.additional-catalog__header {
  .font-oswald-regular();
  font-size: 24px;
  line-height: 24px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 33px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% + 1.5px);
    right: 0;
    width: 53px;
    height: 3px;
    background: @button-bg;
  }
}

.additional-catalog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.additional-catalog__item {
  border-top: 1px solid #cdcdcd;
  margin-top: 0;
}

.additional-catalog__item-header {
  .font-oswald-regular();
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin: 13px 0 11px;
}

.additional-catalog__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.additional-catalog__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 17px;
}

@media (min-width: @tablet-px) {
  .additional-catalog__list {
    padding: 0 30px;
    margin-top: 81px;
  }

  .additional-catalog__item {
    border: 1px solid #cdcdcd;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 11px 38px 10px;
  }

  .additional-catalog__item:not(:last-child) {
    border-bottom: none;
  }

  .additional-catalog__header {
    padding-left: 67px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      width: 327px;
      top: calc(50% + 5px);
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% + 5px);
      left: 0;
      width: 28px;
      height: 3px;
      background: @button-bg;
    }
  }

  .additional-catalog__item-header {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-catalog__price {
    padding-left: 51px;
  }

  .additional-catalog__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .additional-catalog__button {
    width: 100%;
    margin-top: 10px;
  }
}

@media (min-width: @pc-px) {
  .additional-catalog__item-header,
  .additional-catalog__info,
  .additional-catalog__button {
    width: 33%;
  }

  .additional-catalog__info,
  .additional-catalog__quantity,
  .additional-catalog__item-header,
  .additional-catalog__price {
    margin: 0;
    padding: 0;
  }

  .additional-catalog {
    width: 1300px;
    margin: 0 auto 87px;
    box-sizing: border-box;
  }

  .additional-catalog__item {
    border-left: none;
    border-right: none;
    padding: 17px 0 14px 12px;
  }

  .additional-catalog__header {
    padding-left: 40px;

    &::after {
      width: 957px;
      right: -70px;
    }

    &::before {
      width: 70px;
      left: -70px;
    }
  }

  .additional-catalog__list {
    width: 905px;
  }

  .additional-catalog__price {
    padding-right: 7px;
  }

  .additional-catalog__info {
    justify-content: space-between;
  }

  .additional-catalog__button {
    width: 245px;
    margin: 0;
  }
}
