.button {
  background-color: @button-bg;
  .font-oswald-regular();
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 0 11px;
  display: block;
}
