.button {
  background-color: @button-bg;
  .font-oswald-regular();
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0 10px;
  display: block;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: #8fc46e;
}
