.fit-program {
  display: flex;
  flex-direction: column;
  background-color: @block-bg;
  margin-bottom: 20px;
  padding: 20px;
}

@media (min-width: @tablet-px) {
  .fit-program {
    padding: 70px 50px;
  }
}

@media (min-width: @pc-px) {
  .fit-program {
    width: 570px;
    box-sizing: border-box;
  }
}
