.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: white;
  position: relative;
  width: 25px;
  height: 25px;
  margin: auto;
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__toggle,
.main-nav__toggle:active,
.main-nav__toggle:focus {
  outline: none;
  background: none;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #000000;
    left: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: @tablet-px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
    padding-top: 21px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: @pc-px) {
  .main-nav__list {
    width: 478px;
    padding-top: 0;
  }
}
