.offer {
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 50% 50%;
  padding: 0 20px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat 50% 50%;
    background-size: 280px auto;
  }
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center;
  padding: 209px 62px 62px 62px;
  position: relative;

  &::before {
    content: "";
    background-color: white;
    mask: url("../img/icon-gift.svg") no-repeat 50% 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 25%;
    right: calc(50% - 30px);
  }
}

@media (min-width: @tablet-px) {
  .offer {
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 50% 50%;
    margin: 23px auto 62px;
    padding: 0;
    background-size: contain;
    width: 710px;

    &::before {
      top: 38%;
      right: 79%;
    }
  }

  .offer__text {
    width: 170px;
    text-align: left;
    padding: 119px 42px 113px 424px;
  }

  .offer__text::before {
    top: 110px;
    left: 90px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 50% 50%;
    background-size: 708px auto;
  }
}

@media (min-width: @pc-px) {
  .offer__text {
    text-align: center;
    padding: 200px 34px 48px 43px;
  }

  .offer {
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat 50% 50%;
    width: 245px;
    position: absolute;
    right: 110px;
    top: 90px;
    margin: 0;
    padding: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/gift-photo-desktop@1x.jpg") no-repeat 50% 50%;
      background-size: 245px auto;
    }
  }
}
