.offer {
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 50% 50%;
  background-size: 280px auto;
  background-color: #6fb346;
  width: 280px;
  margin: 0 auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat 50% 50%;
    background-size: 280px auto;
  }
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center;
  padding: 212px 58px 66px 58px;
  position: relative;
  margin-bottom: 11px;

  &::before {
    content: "";
    background-color: white;
    mask: url("../img/icon-gift.svg") no-repeat 50% 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 88px;
    right: calc(50% - 30px);
  }
}

@media (min-width: @tablet-px) {
  .offer {
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 50% 50%;
    margin: 23px auto 62px;
    padding: 0;
    background-size: contain;
    width: 710px;

    &::before {
      top: 38%;
      right: 79%;
    }
  }

  .offer__text {
    width: 170px;
    text-align: left;
    padding: 118px 42px 114px 424px;
  }

  .offer__text::before {
    top: 110px;
    left: 90px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 50% 50%;
    background-size: 708px auto;
  }
}

@media (min-width: @pc-px) {
  .offer__text {
    text-align: center;
    padding: 172px 34px 30px 38px;

    &::before {
      top: 49px;
      left: 93px;
    }
  }

  .offer {
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat 50% 50%;
    background-color: #6fb346;
    width: 245px;
    position: absolute;
    right: 110px;
    top: 117px;
    margin: 0;
    padding: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/gift-photo-desktop@1x.jpg") no-repeat 50% 50%;
      background-size: 245px auto;
    }
  }
}
