.page-footer {
  width: @mobile-px;
}

.page-footer__contacts-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 13px 0 10px;
}

.page-footer__contacts-wrapper--grey {
  background-color: @block-bg;
}

.page-footer__invite {
  width: 125px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
  .font-oswald-regular();
  text-transform: uppercase;
}

.page-footer__adress {
  font-size: 14px;
  line-height: 20px;
  width: 135px;
  padding-right: 24px;
  margin-top: 16px;
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.page-footer__map {
  height: 363px;
  margin-bottom: 24px;
  background: url("../img/bg-map-mobile@1x.png") 50%;
  background-color: #fdf7ef;
  background-size: 320px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}

.page-footer__logo-text {
  width: 130px;
  margin: 10px auto 16px;
}

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 22px 0 21px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.page-footer__academy-link {
  text-decoration: none;
  color: @text-color;
  font-size: 16px;
  margin-top: 16px;
}

.page-footer__academy-logo svg {
  fill: #666666;
}

.page-footer__academy-logo {
  margin-right: -6px;
}

@media (min-width: @tablet-px) {
  .page-footer {
    margin-top: 32px;
    width: @tablet-px;
  }

  .page-footer__invite {
    width: 200px;
    font-size: 20px;
    line-height: 25px;
    padding-left: 70px;
  }

  .page-footer__adress {
    width: 155px;
    text-align: right;
    padding-right: 70px;
    font-size: 16px;
    line-height: 20px;
    margin: 18px 0;
  }

  .page-footer__adress span {
    padding-top: 20px;
    display: block;
  }

  .page-footer__contacts-wrapper {
    padding: 13px 0 34px;
  }

  .page-footer__map {
    height: 395px;
    margin: 0;
    background: url("../img/bg-map-tablet@1x.png") 50%;
    background-size: 767px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-map-tablet@2x.png");
      background-size: 767px auto;
    }
  }

  .page-footer__links {
    background-color: @block-bg;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 55px 35px 55px 32px;
    justify-content: space-between;
  }

  .page-footer__logo-text {
    width: 130px;
    height: 30px;
    margin: 0;
  }

  .page-footer__social {
    border: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .page-footer__copyright {
    padding: 0;
    margin: 0;
  }

  .page-footer__academy-link {
    margin: 14px 14px 0 0;
  }

  .page-footer__academy-logo {
    margin-right: -10px;
  }
}

@media (min-width: @pc-px) {
  .page-footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .page-footer__adress {
    text-align: left;
    padding-right: 90px;
  }


  .page-footer__links {
    padding: 50px 110px 50px 110px;
    justify-content: space-between;
  }

  .page-footer__contacts {
    position: relative;
  }

  .page-footer__academy-link {
    margin: 14px 16px 0 0;
  }

  .page-footer__academy-logo {
    margin-right: -7px;
  }

  .page-footer__contacts-wrapper {
    position: absolute;
    width: 565px;
    top: 95px;
    left: 110px;
    background: white;
    padding: 44px 0 42px 4px;
    z-index: 1;
  }

  .page-footer__map {
    height: 400px;
    margin: 0;
    background: url("../img/bg-map-desktop@1x.png") 50%;
    background-size: 1440px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-map-desktop@2x.png");
      background-size: 1440px auto;
    }
  }
}
