.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo img {
  padding: 12px 0 10px 18px;
}

@media (min-width: @tablet-px) {
  .page-header {
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo img {
    padding: 23px 0 2px;
    width: 175px;
    height: 60px;
  }
}

@media (min-width: @pc-px) {
  .page-header {
    width: @pc-px;
    margin: auto;
    box-sizing: border-box;
    padding: 52px 40px 0;
  }

  .page-header__logo img {
    width: 200px;
    height: 60px;
    padding: 0;
  }
}
