.program-contact__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.program-contact__container {
  display: flex;
  align-items: baseline;
}

.program-contact__container input {
  flex-grow: 1;
  margin-left: 15px;
  text-transform: uppercase;
  margin-bottom: 14px;
  border: 1px solid #e6e6e6;
  padding: 14px 15px 15px;
}

.program-contact__heading h2 {
  margin-top: 32px;
}

.program-contact__heading div {
  width: 50%;
}

@media (min-width: @tablet-px) {
  .program-contact__heading div {
    width: 146px;
    margin-top: 12px;
  }

  .program-contact__wrapper {
    padding: 0 70px 0 65px;
  }
}
