.program__wrapper {
  padding: 0 20px;
}

.program__button {
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 18px;
}

.program__notice {
  text-align: center;
  text-transform: initial;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  margin: 22px 0;
}

.program__data-wrapper {
  font-size: 16px;
  line-height: 18px;
}


@media (min-width: @tablet-px) {
  .program__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 174px 0 64px;
    margin-bottom: 99px;
  }

  .program__button {
    font-size: 20px;
    width: 285px;
    margin-left: 5px;
    height: 52px;
    margin-top: 6px;
  }

  .program__notice {
    font-size: 16px;
  }
}

@media (min-width: @pc-px) {
  .program__data {
    width: 570px;
  }

  .program__data-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 110px;
  }

  .program__button {
    width: 565px;
    margin-right: 81px;
  }

  .program__wrapper {
    padding: 0 110px;
    margin-bottom: 77px;
    justify-content: unset;
  }
}
