.site-list__item {
  text-align: center;
  padding: 21px 0 21px;
  border-top: 1px solid #e6e6e6;
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @oswald-color;
  .font-oswald-medium();
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.site-list__link:hover {
  opacity: 0.7;
}

.site-list__link:active {
  opacity: 0.4;
}

@media (max-width: @mobile-px-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: @tablet-px) {
  .site-list__item {
    border-top: none;
    padding-bottom: 0;
  }

  .site-list__link {
    .font-oswald-regular();
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1px;
    padding-bottom: 6px;
  }

  .site-list__link--active-black {
    border-bottom: solid 2px @button-bg;
  }
}

@media (min-width: @pc-px) {
  .site-list__link {
    color: white;
    font-size: 20px;
    line-height: 23px;
  }

  .site-list__item {
    padding: 21px 0 8px;
  }

  .site-list__link--active {
    border-bottom: solid 2px white;
  }


  .site-list__link--black {
    color: @oswald-color;
  }
}
