.site-list__item{
  .font-oswald-medium();
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding: 19px 0 20px;
  border-top: 1px solid #e6e6e6;
}
.site-list__link{
  text-decoration: none;
  color: @oswald-color;
  text-transform: uppercase;
}
